[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.af-voting-widget h4 {
  cursor:pointer;
}

.af-voting-widget h4:last-child,
.af-voting-widget h4.af-text-opac {
  cursor: default;
}

.af-voting-widget .glyphicon-thumbs-up,
.af-voting-widget .glyphicon-thumbs-down {
  font-size: 38px;
}

.af-voting-widget h4 span:last-child {
  position: relative;
  top:-10px;
  left:4px;
}

.af-form-group-multiple-inputs input {
  margin-bottom:10px;
}

.af-button-40 {
  width:40%;
}

.af-column-image {
  display: block;
  max-width: 100%;
}



/* HELPERS */

.af-text-opac {
  opacity: 0.5;
}

.hide {
  display: none!important;
}