[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.af-voting-widget h4 {
  cursor:pointer;
}

.af-voting-widget h4:last-child {
  cursor: default;
}

.af-voting-widget .glyphicon-thumbs-up,
.af-voting-widget .glyphicon-thumbs-down {
  font-size: 38px;
}

.af-voting-widget h4 span:last-child {
  position: relative;
  top:-10px;
  left:4px;
}



/* HELPERS */

.af-text-opac {
  opacity: 0.5;
}