<!doctype html>
<html lang="en" ng-app="eventsApp">

<head ng-controller="layoutController">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ valueFactory.getTitle() }}</title>
  <meta name="description" content="{{ valueFactory.getTitle() }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/slate/bootstrap.min.css">
  <link rel="stylesheet" href="./css/app.css">
</head>

<body ng-cloak>
  <div class="container">

    <div class="row" ng-controller="layoutController">
      <div class="col-md-12">
        <ul class="nav nav-pills nav-justified">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="./newevent.html">Create Event</a></li>
        </ul>
        <h1 class="text-center">{{ valueFactory.getTitle() }}</h1>
      </div>
    </div>

    <div ng-controller="eventController">
      <div class="row">
        <div class="col-md-12">
          <img ng-src="{{ event.image }}" alt="{{ event.name }}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 ng-bind="event.name | uppercase"></h2>
          <h5 ng-bind-html="snippet"></h5> <!-- ng-bind-html-unsafe is deprecated, use $sce service instead to get style='' -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div><strong>Date: </strong>{{ event.date }}</div>
          <div><strong>Time: </strong>{{ event.time }}</div>
        </div>
        <div class="col-md-4">
          <address>
            <div><strong>Address: </strong>{{ event.location.address }}</div>
            <div><strong>City: </strong>{{ event.location.city }}, {{ event.location.province }}</div>
          </address>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <h3>
            Sessions
            <select ng-model="sortOrder">
              <option value="name">Name</option>
              <option value="-upVoteCount">Votes</option>
            </select>
            <!--
              This 'Show all' sets model to null, and is not compatible with filter
            <select ng-model="filterByLevel" 
                    ng-options="session.level for session in event.sessions track by session.level"> || session.id
              <option value="">-- Show All --</option>
            </select>
            -->
            <select ng-model="filterByLevel.level"> <!-- Filter by the word in the 'level' property -->
              <option value="">-- Show all --</option>
              <option value="{{ session.level }}" ng-repeat="session in event.sessions">{{ session.level }}</option>
            </select>
          </h3>
          <div class="row" ng-repeat="session in event.sessions | orderBy:sortOrder | filter: filterByLevel">
            <div class="col-md-9 well">
              <h4>{{ session.name }}</h3>
              <h5>{{ session.creatorName }}</h5>
              <p>
                Duration: {{ session.duration | durationFilter }} <br>
                Level: {{ session.level }}
              </p>
              <p>{{ session.abstract | truncateFilter:50 }}</p>
            </div>
            <div class="col-md-3 well af-voting-widget">
              <h4 ng-click="upVoteSession(session);"><span class="glyphicon glyphicon-thumbs-up text-success"></span> <span>Upvote</span></h4>
              <h4 ng-class="{'af-text-opac': (session.upVoteCount < 1) }" ng-click="downVoteSession(session);"><span class="glyphicon glyphicon-thumbs-down text-danger"></span> <span>Downvote</span></h4>
              <h4 class="text-center">{{ session.upVoteCount }}</h4>
            </div>
          </div>
         </div>
       </div>
     </div>
      
      
      
    </div>
    
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/services/valueFactory.js"></script>
    <script src="./js/filters/truncateFilter.js"></script>
    <script src="./js/filters/durationFilter.js"></script>
    <script src="./js/controllers/layoutController.js"></script>
    <script src="./js/controllers/eventController.js"></script>
    <script src="./js/controllers/editEventController.js"></script>
  </body>

</html>