<!doctype html>
<html lang="en" ng-app="eventsApp">

<head ng-controller="layoutController">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ valueFactory.getTitle() }}</title>
  <meta name="description" content="{{ valueFactory.getTitle() }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/slate/bootstrap.min.css">
  <link rel="stylesheet" href="./css/app.css">
</head>

<body ng-cloak>

  <div class="container">
    <div class="row" ng-controller="layoutController">
      <div class="col-md-12">
        <ul class="nav nav-pills nav-justified">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="./newevent.html">Create Event</a></li>
          <li role="presentation"><a href="./editprofile.html">Your Profile</a></li>
          <li role="presentation" class="active"><a href="./testthings.html">Test Things</a></li>
        </ul>
        <h1 class="text-center">{{ valueFactory.getTitle() }}</h1>
      </div>
    </div>
    <div ng-controller="testThingsController">
      <div>
        <hr>
        <h2>Testing Angulars $cacheFactory</h2>
        <p class="text-info">Cache is in this example limited to 3 in capacity, then First in First out is applied</p>
        <div><span>Key:</span>
          <input type="text" ng-model="cacheKey">
        </div>
        <div><span>Value:</span>
          <input type="text" ng-model="cacheValue">
        </div>
        <br>
        <div>
          <button class="btn btn-success" ng-click="addToCache(cacheKey, cacheValue);">Add to Cache</button>
        </div>
        <br>
        <br>
        <div><span>Read key:</span>
          <input type="text" ng-model="cacheKeyToRead">
        </div>
        <div><span>Value is:</span> {{ readFromCache(cacheKeyToRead); }}</div>
        <h3>Cache Stats</h3>
        <div>{{ getCacheStats(); }}</div>
        <hr>
      </div>
      <div>
        <hr>
        <h2>Testing Array Filter</h2>
        <h3>First the Angular Way</h2>
        <div>Filter by: <input type="text" ng-model="namesFilter" /></div>
        <ul>
          <li ng-repeat="name in names | filter: namesFilter">{{ name }}</li>
        </ul>
        <h3>Now with jQuery</h3>
        <div>Filter by:
          <input data-names-filter type="text" />
        </div>
        <ul data-names></ul>
        <hr>
      </div>
      <div>
        <hr>
        <h2>Testing Angulars $compile</h2>
        <div class="bg-danger" data-not-compiled></div>
        <br>
        <div class="bg-success" data-compiled></div>
        <hr>
      </div>
      <div>
        <hr>
        <h2>Testing Angular $locale</h2>
        <div><span>Date without filter: </span><span>{{ myDate }}</span></div>
        <div><span>Date with filter: </span><span>{{ myDate | date }}</span></div>
        <div><span>Date with semi custom filter: </span><span>{{ myDate | date: 'fullDate' }}</span></div>
        <div><span>Date with custom filter from $locale: </span><span>{{ myDate | date: myDateFormat }}</span></div>
        <hr>
      </div>
      <div>
        <hr>
        <h2>Testing Currenzy</h2>
        <div>{{ ammount | currency }}</div>
        <hr>
      </div>
      <div>
        <hr>
        <h2>Testing $timeout</h2>
        <div><span ng-click="cancelvanillaTimeout()">CancelVanillaTimeOut </span> | <span ng-click="cancelangTimeout()">CancelAngTimeout</span></div>
        <div>{{ vanillaTimeoutName }}</div>
        <div>{{ angTimeoutName }}</div>
        <hr>
      </div>
    </div>
  </div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.4.3/angular-locale_sv-se.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.min.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/services/valueFactory.js"></script>
  <script src="./js/services/eventDataFactory.js"></script>
  <script src="./js/services/testFactory.js"></script>
  <script src="./js/filters/truncateFilter.js"></script>
  <script src="./js/filters/durationFilter.js"></script>
  <script src="./js/controllers/layoutController.js"></script>
  <script src="./js/controllers/eventController.js"></script>
  <script src="./js/controllers/editEventController.js"></script>
  <script src="./js/controllers/editProfileController.js"></script>
  <script src="./js/controllers/testThingsController.js"></script>
</body>

</html>