<p>
	Maybe the server takes a little while to give us all the events (we have a setTimeout of 2 second in the Node server).
	Then maybe we dont want to show anything until the data comes back. We can do that in the route configs in app.js.
</p>

<div style="color:red">First event is: {{ events[0].name }}</div>
<br><br>

<div>
	<ul>
		<li ng-repeat="event in events"><a ng-href="#/event/{{event.id}}">{{ event.name }}</a></li>
	</ul>
</div>
<div>
	<h2>Fake Stuff to Remove</h2>
	<ul>
		<li ng-repeat="fake in fakes">{{ fake }} <span ng-click="removeFake(fake)">REMOVE IT</span></li>
	</ul>
</div>

<!-- 
	ng-include
	- With routing on, we have to specify the path to it
	- The included partial will have access to the scope of the controller running this view
	- This also creates a coupeling 
	-- if the partial is using data from the $scope, it has to be included in this view
	-- With directives it is more flexible, we can send in data instead, with isolated scope
-->
<div ng-include="'views/_allEventsPartial.html'"></div>