<div ng-show="!ajaxOk && ajaxDone" class="text-danger">Error Getting Event</div>
<div ng-show="ajaxOk">
  <div>
    <hr>
    <span ng-click="listAllEvents()">Log all events (debug)</span>
    <hr>
  </div>
  <div ng-show="cookieValue">
    <hr>
    <div>You have visited Testing Things! Proof: {{ cookieValue }}</div>
    <div ng-click="cookieValueDelete()">Paranoid of cookies? Just delete it friendo!</div>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img ng-src="{{ event.image }}" alt="{{ event.name }}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 ng-bind="event.name | uppercase"></h2>
      <h3 ng-show="event.sessions.length > 0"><span ng-click="scrollToSessions()">Scroll to sessions</span></h3>
      <h5 ng-bind-html="snippet"></h5>
      <!-- ng-bind-html-unsafe is deprecated, use $sce service instead to get style='' -->
      <h5 data-snippet="cSnippet"></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div><strong>Date: </strong>{{ event.date | date }}</div>
      <div><strong>Time: </strong>{{ event.time | date: 'HH:mm' }}</div>
    </div>
    <div class="col-md-4">
      <address>
            <div><strong>Address: </strong>{{ event.location.address }}</div>
            <div><strong>City: </strong>{{ event.location.city }}, {{ event.location.province }}</div>
          </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <h3>
            Sessions
            <select ng-model="sortOrder">
              <option value="name">Name</option>
              <option value="-upVoteCount">Votes</option>
            </select>
            <!--
              This 'Show all' sets model to null, and is not compatible with filter
            <select ng-model="filterByLevel" 
                    ng-options="session.level for session in event.sessions track by session.level"> || session.id
              <option value="">-- Show All --</option>
            </select>
            -->
            <select ng-model="filterByLevel.level"> <!-- Filter by the word in the 'level' property -->
              <option value="">-- Show all --</option>
              <option value="{{ session.level }}" ng-repeat="session in event.sessions">{{ session.level }}</option>
            </select>
          </h3>
      <div class="row" ng-repeat="session in event.sessions | orderBy:sortOrder | filter: filterByLevel" id="session{{ session.id }}">
        <div class="col-md-9 well">
          <h4>{{ session.name }}</h3>
              <h5>{{ session.creatorName }}</h5>
              <p>
                Duration: {{ session.duration | durationFilter }} <br>
                Level: {{ session.level }}
              </p>
              <p>{{ session.abstract | truncateFilter:50 }}</p>
        </div>
        <div class="col-md-3 well af-voting-widget">
              <af-voting up-vote="upVoteSession(session)" down-vote="downVoteSession(session)" up-vote-count="session.upVoteCount"></af-voting>
        </div>
      </div>
    </div>
  </div>
</div>